*{
   margin: 0;   
   padding:0;
   list-style: none;
   box-sizing: border-box;
}

body, html{
   width:100%;
   height: 100%;
}

body{
   background-color: #F7F4FF;
   font-family: 'Poppins', sans-serif;
   font-size:16px;
   font-weight: 500;
}

.cover{
   width:100%;
   height:100%;
   display:flex;
   justify-content: center;
   align-items: center;
   font-family: 'Poppins', sans-serif;
   font-size:16px;
   font-weight: 500;
}

.container-search{
   width: 640px;
   height: 464px;
   background: #FFFFFF;
   box-shadow: 0px 14px 52px -20px #8675B4;
   border-radius: 24px;
   padding:72px;
}

.search-form{
   display: flex;
}

.search-form .search input{
   width:348px;
   height: 56px;
   background-color: #fff;
   border-radius: 4px;
   border:1px solid #DBD5EC;
   padding-left:48px;
   padding-right:48px;
   font-family: 'Poppins', sans-serif;
   font-size:16px;
   font-weight: 500;
}

.search{
   position: relative;
}

.search-form .search img{
   position: absolute;
   top:18px;
   left:18px;
}

.search-form button{
   padding: 16px;
   width: 136px;
   height: 56px;
   background: #281A51;
   border-radius: 4px;
   border:0;
   color:#fff;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin-left:12px;
   font-family: 'Poppins', sans-serif;
   font-size:16px;
   font-weight: 500;
}

.search-form button span{
   margin-left:10px;
}

.list{
   display:flex;
   flex-wrap: wrap;
   gap:16px;
   margin-top:32px;
}

.box{
   width: 112px;
   height: 108px;
   border-radius: 8px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;q
   cursor: pointer;
   transition: all .5s;
   font-size:16px;
}

.box:hover{
   box-shadow: 0px 14px 52px -20px #8675B4;
   font-size:18px;
}

.furniture{background-color: #FFECEC;}
.property{background: #F7ECFF;}
.job{background-color: #ECF0FF;}
.travel{background-color: #D7F9F3;}
.boat{background-color: #E2FFD5;}
.mc{background-color: #FFFFFF; border: 1px solid #DBD5EC;}
.economy{background-color: #FFF3C9;}
.holiday{background-color: #FFD9C9;}

.box span{
   color: #281A51;
}

.bg-pattern{
   width:421px;
   height:613px;
   position:absolute;
   left:calc(50% - 210.5px);
   top:calc(50% - 306.5px);
   z-index:-1;
   background: #EFEBFD;
   border-radius: 31px;
}